{% extends 'main/base.html' %}

{% block title %}Добавление расшифровок услуг или оборудования{% endblock %}
{% block body %}
    <h1 style="text-align:center">
        <span style="font-family:Times New Roman,Times,serif">
            <span style="font-size:16px">
                <form method=POST id = 'services'>
                    {% csrf_token %}
                    <select name="id_services" required="required" size="1" onchange="document.getElementById('services').submit()">{{ option|safe }}</select><br />
                </form>
                <form method=POST>
                    {% csrf_token %}
                    <textarea cols="100" rows="10" name="description" placeholder="Введите расшифровку"></textarea><br />
                    <button type="submit">Отправить данные</button>
                    <input name='id_services' required='required' type='hidden' value='{{ id_services }}'/>
                    <input name='save' required='required' type='hidden' value='save'/>
                </form>
            </span>
        </span>
    </h1>
    <table class="table_center_by_css" border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <tbody>
            <tr>
                <td style="text-align:center"><span style="font-size:12pt"><span style="color:black"><span style="font-family:Calibri,sans-serif">id</span></span></span></td>
                <td style="text-align:center"><span style="font-size:12pt"><span style="color:black"><span style="font-family:Calibri,sans-serif">Расшифровка</span></span></span></td>
            </tr>
        {{ html|safe }}
        </tbody>
    </table>
{% endblock %}