    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css"> <!-- Стиль с выдвижным списком в меню-->
    <link rel="stylesheet" href="{% static 'css/grid-responsive.css' %}" type="text/css"><!--    Стиль который центроет меню-->
    {% if "/reports/" not in request.path %}
    {% if "/employee/" not in request.path %}
    {% if "/overhead_costs/" not in request.path %}
    {% if "/invoice_analysis/" not in request.path %}
    {% if "/commercial_offers/edit" not in request.path %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"> <!--    Стиль который убирает отступы от краев-->
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/master-ac58b0dbe5532d9e575562bad23fa5de.css' %}" type="text/css"> <!--  Стиль который нужен, закоментируй глянь, убирает почти все...каша -->
    <link rel="stylesheet" href="{% static 'css/sp.css' %}" type="text/css"> <!--    Стиль который убирает кнопки ссылки в мню шапки -->
    <link rel="stylesheet" href="{% static 'css/1200fixed.css' %}" type="text/css"><!--    Без этой строки меню из шапки пропадает (кнопки главная...) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Иконки font awesome -->
    <style type="text/css">
    #rt-logo {background: url({% static 'img/logo.png' %}) 50% 0 no-repeat !important;}
    #rt-logo {width: 265px;height: 40px;}
    </style>
    <style>
        .table_center_by_css {
            width: 300px;
            border: 1px solid #000;
            margin: auto;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/style_message_save.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">

</head>
<body class="page-fixed-0 page-fixedheader-disable page-headerstyle-hstyleone page-type-none logo-type-custom font-size-is-default rttop-type-none rtheader-type-none rtshowcase-fixed-0 rtshowcase-type-none rtfeature-type-none rtutility-type-none rtbreadcrumbs-type-none rtmaintop-type-maintopimg rtmainbottom-type-none rtextension-type-none rtbottom-type-none rtfooter-type-none rtcopyright-type-none menu-type-dropdownmenu layout-mode-1200fixed breadfeature-1 col12">
    <header id="rt-top-surround">
        <div id="rt-top">
            <div class="rt-container">
                <div class="rt-grid-12 rt-alpha rt-omega">
                    <div class="rt-block nopaddingtopbottom">
                        <div class="module-surround">
                            <div class="module-content">
                                <div class="customnopaddingtopbottom">
                                    <style>

                                    .blue_text_shapka {

                                      color: #0088cc;
                                      margin-left: 13px;
                                    }

                                    #open_window
                                    {
                                      padding-left: 5px;
                                    }

                                    .top-header {
                                        font-size: 15px;
                                        float: right;
                                        margin-bottom: 10px;
                                    }
                                    </style>
                                    <!--<a href="/component/xmap/html/1?view=html"> &nbsp; &nbsp; &nbsp; Карта сайта</a>-->
                                </div>
	                	    </div>
                	    </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="rt-header">
            <div class="rt-container">
                <div class="rt-grid-4 rt-alpha">
                    <div class="rt-block logo-block">
                        <a href="http://ivea-water.ru/" id="rt-logo"></a>
                    </div>
                </div>
                <div class="rt-grid-4">
                    <div class="customrt-logo">
                        <style>
                            #header_text {
                                font-size: 15px;
                                margin: 15px auto 0px auto;
                                line-height: 19px;
                              }
                        </style>
                        <div id="header_text">
                            <b>Мы производим очистные сооружения<br> и насосные станции,</b> а также оказываем<br><b> услуги по согласованиям</b>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="rt-apostos">
            <div class="rt-container">
                <div class="rt-grid-6 rt-alpha">
                    <div class="rt-block menu-block">
                        <div class="gf-menu-device-container responsive-type-panel"></div>
                        <ul class="gf-menu l1 ">
                            <li class="item101 active last">
                                <a class="item" href="{% url 'home' %}">Главная</a>
                            </li>
                            <li class="item101 active last">
                                <a class="item" href="http://ivea-water.ru/">www.ivea-water.ru </a>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a class="item" href="javascript:void(0);">Для сотрудников<span class="border-fixer"></span></a>
                                    <div class="dropdown columns-1 " style="width:250px;">
                                        <div class="column col1" style="width:250px;">
                                            <ul class="l2">
                                                {{links_base|safe}}
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <li class="item138 parent">
                                    <a class="item" href="javascript:void(0);">О компании &rarr;<span class="border-fixer"></span></a>
                                    <div class="dropdown columns-1 " style="width:220px;">
                                        <div class="column col1" style="width:220px;">
                                            <ul class="l2">
                                                <li class="item173">
                                                    <a class="item" href="http://ivea-water.ru/about-us/novosti-kompanii">Новости компании</a>
                                                </li>
                                                <li class="item146">
                                                    <a class="item" href="http://ivea-water.ru/about-us/contact-us">Контакты</a>
                                                </li>
                                                <li class="item178 parent">
                                                    <a class="item" href="javascript:void(0);">Справочные материалы<span class="border-fixer"></span></a>
                                                    <div class="dropdown flyout columns-1 " style="width:190px;">
                                                        <div class="column col1" style="width:190px;">
                                                        <ul class="l3">
                                                            <li class="item174">
                                                                <a class="item" href="http://ivea-water.ru/about-us/spravochnye-materialy/gosudarstvennye-organy">Государственные органы</a>
                                                            </li>
                                                            <li class="item171">
                                                                <a class="item" href="http://ivea-water.ru/about-us/spravochnye-materialy/terminy-i-opredeleniya">Термины и определения</a>
                                                            </li>
                                                        </ul>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="rt-grid-6 rt-omega">
                    <div class="rt-block  module_rokajaxsearch textright">
                        <div class="module-surround">
                            <div class="module-content">
                                    <div class="rokajaxsearch  module_rokajaxsearch textright">
                                        <div class="roksearch-wrapper">
                                            {% if request.user.is_authenticated %}
                                                {{ user.first_name }} {{ user.last_name }} | <a href="{% url 'logout' %}">Выход</a>
                                            {% else %}
                                                <a href="{% url 'login' %}">Авторизация</a>
                                            {% endif %}
                                        </div>

                                        <input type="hidden" name="searchphrase" value="any">
                                        <input type="hidden" name="limit" value="20">
                                        <input type="hidden" name="ordering" value="newest">
                                        <input type="hidden" name="view" value="search">
                                        <input type="hidden" name="option" value="com_search">

                                    </div>
                                    <div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error'%}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
            {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}
    {% if request.user.is_authenticated %}
        <div id="message" style="display: none;"></div>
        {% block body %}{% endblock %}
        <!-- Загрузка jQuery с CDN -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <!-- Загрузка Select2 с CDN -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        {% block script %}{% endblock %}
    {% else %}
        <h4 style="text-align:center">
            Для того чтобы пользоваться функционалом, необходимо <a href="{% url 'login' %}">авторизоваться</a> !
        </h4>
    {% endif %}

</body>
</html>