{% extends 'main/base.html' %}

{% load user_tags %}

{% block title %}Главная страница{% endblock %}
{% block body %}
    <h4 style="text-align:center"><br />
        {% if user|has_group:"Список договоров" or user.is_superuser %}
            <a target="_blank" href="{{ NEW_SITE_URL }}contracts" class="item">Список договоров</a><br><br>
        {% endif %}
        {% if user|has_group:"Список договоров (с ограничениями)" or user.is_superuser %}
            <a target="_blank" href="{{ NEW_SITE_URL }}contracts_lite" class="item">Список договоров</a><br><br>
        {% endif %}
        {% if user|has_group:"Список не согласованных счетов в оплату" or user.is_superuser %}
            <a target="_blank" href="{{ NEW_SITE_URL }}uncoordinated_invoices" class="item">Список не согласованных счетов в оплату</a><br><br>
        {% endif %}
        {% if user|has_group:"Счета на согласовании" or user.is_superuser %}<a target="_blank" href="{{ NEW_SITE_URL }}invoices_under_approval" class="item">Счета на согласовании</a>{% endif %}{% if user|has_group:"Работы и суммы в перспективе" or user.is_superuser %}<a  target="_blank" href="{{ NEW_SITE_URL }}future_jobs_and_amounts" class="ms-5 item">Работы и суммы в перспективе</a><br><br><br><br>{% endif %}


        {% if user|has_group:"Таблица роутеров" or user.is_superuser %}<a target="_blank" href="{{ NEW_SITE_URL }}router_table" class="item">Таблица роутеров</a>{% endif %}<br><br>
        {% if user|has_group:"Карточки сотрудников" or user.is_superuser %}<a target="_blank" href="{{ NEW_SITE_URL }}employees" class="item">Карточки сотрудников</a>{% endif %}<br><br>
        {% if user|has_group:"Список контрагентов" or user.is_superuser %}<a target="_blank" href="{{ NEW_SITE_URL }}counterparties" class="item">Список контрагентов</a>{% endif %}<br><br>
        {% if user|has_group:"Реестр ремонта оборудования" or user.is_superuser %}<a target="_blank" href="{{ NEW_SITE_URL }}repair_registry" class="item">Реестр ремонта оборудования</a>{% endif %}<br><br>
        <br><br>

<!--             {% if 'Список договоров' in user_groups %}-->
<!--                <a href="{% url 'list_doc' %}">Список договоров</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Список не согласованных счетов в оплату' in user_groups %}-->
<!--                <a href="{% url 'not_an_agreed_doc' %}">Список не согласованных счетов в оплату</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Счета на согласовании' in user_groups %}-->
<!--                <a href="{% url 'invoices_under_approval' %}">Счета на согласовании</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--             {% endif %}-->
<!--             {% if 'Работы и суммы в перспективе' in user_groups %}-->
<!--                <a href="{% url 'jobs_and_amounts' %}">Работы и суммы в перспективе</a><br /><br />-->
<!--             {% endif %}-->
<!--             &lt;!&ndash;            <a href="{% url 'new_doc' %}">Добавить новый договор</a><br /><br />&ndash;&gt;-->

<!--        {% if 'Таблица роутеров' in user_groups or 'Карточки сотрудников' in user_groups or 'Список контрагентов' in user_groups or 'Реестр ремонта оборудования' in user_groups %}-->

<!--            <br /><br />-->

<!--             {% if 'Таблица роутеров' in user_groups %}-->
<!--                <a href="{% url 'router_list' %}">Таблица роутеров</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Карточки сотрудников' in user_groups %}-->
<!--                <a href="{% url 'employee_list' %}">Карточки сотрудников</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Список контрагентов' in user_groups %}-->
<!--                <a href="{% url 'counterparty_list' %}">Список контрагентов</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Реестр ремонта оборудования' in user_groups %}-->
<!--                <a href="{% url 'req_eq_list' %}">Реестр ремонта оборудования</a><br /><br />-->
<!--             {% endif %}-->
<!--        {% endif %}-->

<!--        {% if 'Накладные расходы' in user_groups or 'Структура расходов' in user_groups or 'Финансовые отчеты' in user_groups or 'Топливные карты' in user_groups %}-->
<!--            <br /><br />-->

<!--            <p>Финансовые:</p>-->
<!--             {% if 'Накладные расходы' in user_groups %}-->
<!--            <a href="{% url 'overhead_costs' %}">Накладные расходы</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Структура расходов' in user_groups %}-->
<!--            <a href="{% url 'invoice_analysis' %}">Структура расходов</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Финансовые отчеты' in user_groups %}-->
<!--            <a href="{% url 'report_list' %}">Финансовые отчеты</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Топливные карты' in user_groups %}-->
<!--            <a href="{% url 'fuel_cards_list' %}">Топливные карты</a><br /><br />-->
<!--             {% endif %}-->
<!--        {% endif %}-->

<!--        {% if 'Добавление покупного оборудования' in user_groups or 'Добавление услуг или оборудования' in user_groups or 'Добавление деталей' in user_groups or 'Добавление и изменение параметров подузла' in user_groups or 'Добавление и изменение параметров узла' in user_groups or 'Добавление и изменение параметров сборочной единицы' in user_groups or 'Добавление и изменение параметров обектной сборки' in user_groups %}-->
<!--             <br /><br />-->

<!--             <p>Инженерные:</p>-->

<!--             {% if 'Добавление покупного оборудования' in user_groups %}-->
<!--                <a href="{% url 'afpe' %}">Добавление покупного оборудования</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Добавление услуг или оборудования' in user_groups %}-->
<!--                <a href="{% url 'aosae' %}">Добавление услуг или оборудования</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Добавление деталей' in user_groups %}-->
<!--                <a href="{% url 'details' %}">Добавление деталей</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Добавление и изменение параметров подузла' in user_groups %}-->
<!--                <a href="{% url 'utn' %}">Добавление и изменение параметров подузла</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Добавление и изменение параметров узла' in user_groups %}-->
<!--                <a href="{% url 'unit' %}">Добавление и изменение параметров узла</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Добавление и изменение параметров сборочной единицы' in user_groups %}-->
<!--                <a href="{% url 'assembly_unit' %}">Добавление и изменение параметров сборочной единицы</a><br /><br />-->
<!--             {% endif %}-->
<!--             {% if 'Добавление и изменение параметров обектной сборки' in user_groups %}-->
<!--                <a href="{% url 'object_assembly' %}">Добавление и изменение параметров обектной сборки</a><br /><br />-->
<!--             {% endif %}-->
<!--            &lt;!&ndash;                     <a href="{% url 'map' %}">Расположение станций на карте</a><br /><br />&ndash;&gt;-->
<!--        {% endif %}-->
        {{links_index|safe}}
    </h4>
{% endblock %}