{% extends 'main/base.html' %}

{% block title %}Главная страница документация{% endblock %}
{% block body %}
         <h4 style="text-align:center"><br />
             {% if request.user.is_staff %}
            <a href="{% url 'new_doc' %}">Добавить новый договор</a><br /><br />
            <a href="{% url 'list_doc' %}">Список договоров</a><br /><br />
            <a href="{% url 'not_an_agreed_doc' %}">Список не согласованных счетов в оплату</a><br /><br />
             {% endif %}
        </h4>
{% endblock %}