{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ documentTitle }}{% endblock %}
{% block style %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="{% static 'css/modal_window.css' %}" rel="stylesheet" type="text/css">
<style>.doc_table {
  font-size: 12pt;
  font-family: Arial;
  color: black;
}</style>

{% endblock %}

{% block body %}
{% if find_doc_id == 'false' %}
<form method="POST">
	{% csrf_token %}
	<div class="d-flex justify-content-between align-items-center" style="margin-left: 25px; margin-right: 25px;">
  		<div class="btn-group" role="group" aria-label="Первая группа">
			<button type="button" class="btn btn-primary" onclick="filterTableButton('True', 'True')" id="btn-group-1">Активные договоры</button>
			<button type="button" class="btn btn-dark" onclick="filterTableButton('False', 'True')" id="btn-group-2">Архивированные договоры</button>
        	<button type="button" class="btn btn-dark" onclick="filterTableButton('True', 'False')" id="btn-group-3">Нет строительной готовности</button>
	 	</div>
		{% if 'Добавить новый договор' in user_groups %}
			<a href="{% url 'new_doc' %}" class="btn btn-dark">Добавить новый договор</a>
		{% endif %}
	</div>
</form>
&nbsp;&nbsp;&nbsp;<input type="text" id="filterInput" placeholder="Введите значение для фильтрации" oninput="handleInput(event)">
<input type="image" src="{% static 'img/icon-deletelink.svg' %}" alt="Очистить фильтр" title="Очистить фильтр" onclick="NullFilterTable()" style="width: 20px; height: 20px; margin-top: -10px;">

{% endif %}
	<form action="{% url 'change_status_doc' %}" method="POST" id="form_for_ajax">
		{% csrf_token %}
        <button onclick="phantomSubmitClick()" type="submit"></button>
		<table class="table_center_by_css table table-sm table-bordered" border="1" cellpadding="1" cellspacing="1" style="width:98%" id="DocTable">
				<thead style="position: sticky;top: 0">
					{% if find_doc_id != 'true' %}
							<tr>
								<td class="doc_table" style="background: #ebebeb;width:30px"></td>
								<td class="doc_table" style="background: #ebebeb;width:40px"></td>
								<td class="doc_table" style="background: #ebebeb;width:250px"></td>
								<td class="doc_table" style="background: #ebebeb;width:250px"></td>
								<td class="doc_table" style="background: #ebebeb;"></td>
								<td class="doc_table" style="background: #ebebeb;text-align:right;"></td>
								<td class="doc_table" style="background: #ebebeb;width:350px"></td>
								<td class="doc_table" style="background: #ebebeb;text-align:right; width:250px"></td>
								<td class="doc_table" style="background: #ebebeb;text-align:right; width:250px"></td>
								<td class="doc_table" style="background: #ebebeb;text-align:right; width:250px"></td>
								<td class="doc_table" style="background: #ebebeb;text-align:right; width:250px"></td>
								{% if not flag_upd %}
								<td class="doc_table" style="background: #ebebeb;text-align:right; width:250px"></td>
								{% endif %}
								<td class="doc_table" style="background: #ebebeb;text-align:right; width:250px"></td>
								<td class="doc_table" style="display: none"></td>
								<td class="doc_table" style="display: none"></td>
								<td class="doc_table" style="display: none"></td>
							</tr>
					{% endif %}
							<tr>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:30px">№ п/п</td>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:40px">ID</td>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:250px">Контрагент</td>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:250px">Договор</td>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center">Оригинал</td>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center">%</td>
								{% if doc_id == 'all' %}
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:350px">Краткое название</td>
								{% else %}
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:350px">Предмет договора</td>
								{% endif %}
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center">Сумма договора, руб.</td>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center">Выполнение, руб.</td>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center">Остаток по договору, руб.</td>
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center">Оплачено, руб.</td>
								{% if not flag_upd %}
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center">Оплачено по УПД, руб.</td>
								{% endif %}
								<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center">ИТОГО задолженность покупателя, руб.</td>
								<td class="doc_table" scope="col" style="text-align:center; display: none">#Теги</td>
								<td class="doc_table" scope="col" style="text-align:center; display: none">Договор открыт</td>
								<td class="doc_table" scope="col" style="text-align:center; display: none">Нет строительной готовности</td>
							</tr>
				</thead>
				<tbody>
				{{ html|safe }}
				</tbody>
		</table>
		{% if find_doc_id == 'true' %}
			<div style="text-align:center"><button type="button" class="btn btn-light" onclick="addRow()">Добавить строку</button></div>
			<input type="hidden" id="counterField" name="counter_new_element" value="0">
			<input type="hidden" id="dict_new_elements" name="dict_new_elements" value="{}">
			<input name="doc_id" required="required" type="hidden" value='{{ doc_id }}'/>
			<input name="doc_date_id_list" id="doc_date_id_list" required="required" type="hidden" value='{{ doc_date_id_list }}'/>
			<input name="dop_doc_date_id_list" id="dop_doc_date_id_list" required="required" type="hidden" value='{{ dop_doc_date_id_list }}'/>
			</form>
			<br>
			<div style="text-align:center"><button type="button" class="btn btn-light send_save" onclick="save_ajax('form_for_ajax','/documents/list_doc/change_status_doc/')" name="save" value='true' id="save_btn"><span style="font-family:Times New Roman,Times,serif; font-size:16px">Сохранить изменения</span></button></div>
			<div style="text-align:center"><button type="button" class="btn btn-light" onclick="redirectTo('{% url 'list_doc' %}')"><span style="font-family:Times New Roman,Times,serif; font-size:16px">Вернуться к списку документов</span></button></div>
			<div style="text-align:center"><button id="{{ doc_id }}-button2" type="button" class="btn btn-light" onclick="myFunction('19941007', '{{ doc_id }}-button2')"><span style="font-family:Times New Roman,Times,serif; font-size:16px">Журнал работ</span></button></div>
			<div class="container">
				<div id="19941007" style="display: none">
					<br>
					{% for text in textLines %}
					<div style="font-size: 12pt; font-family: Arial; color: black;">&nbsp;&nbsp;&nbsp;{{ text|safe }}</div>
					{% endfor %}
					<div style="font-size: 12pt; font-family: Arial; color: black;">&nbsp;&nbsp;&nbsp;<button class="btn btn-light open-modal" id="add_logging">Добавить запись</button></div>
					<br>
					{{ table_html|safe }}
				</div>
			</div>
			{% if doc_id == 260 %}
			<div class="text-center">
				<a href="{% url 'dmitorv_rss' %}" class="btn">РСС</a>
			</div>
			{% endif %}
			{% if invoices or overhead %}
			<div style="text-align:center"><button id="showButton" type="button" class="btn btn-light" onclick="showInvoices()"><span style="font-family:Times New Roman,Times,serif; font-size:16px">Открыть дополнительную информацию</span></button></div>
			<div id="invoicesDiv" class="container" style="display: none">
			</div>
			{% endif %}
		{% endif %}
			<div class="modal" id="myModal">
				<div class="modal-content">
					<span class="close" id="closeModal">&times;</span>
					<form method="POST" id="add_new_log">
						{% csrf_token %}
						<label for="new_log">Введите сообщение для записи в журнал работ.</label>
			<!--            <p><input type="text" name="new_log" class="form-control" required id="new_log"></p>-->
						<textarea name="new_log" required="required" style="width:457px; height: 100px;" id="new_log"></textarea>
						<input name="new_log_user_name" type='hidden' value="{{ user.last_name }} {{ user.first_name }}">
						<input name="new_log_doc_id" type='hidden' value="{{ doc_id }}">
					</form>
						<button type="button" class="btn btn-light" onclick="save_ajax('add_new_log','/documents/list_doc/change_status_doc/','save_new_log')">Сохранить</button>
				</div>
			</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/list_doc.js' %}"></script>
{% if find_doc_id == 'true' %}
<script src="{% static 'js/redirectToUrl.js' %}"></script>
<script>
	const invoices = [
	{% for invoice in invoices %}
		{
			date: '{{ invoice.invoice.date|date:"d.m.Y" }}',
			counterparty: '{{ invoice.invoice.counterparty }}',
			nomenclature: '{{ invoice.invoice.nomenclature }}',
			amount: {{ invoice.amount|stringformat:".2f" }},
			unit: '{{ invoice.invoice.unit }}',
			price: {{ invoice.invoice.price|stringformat:".2f" }},
			second_sum: {{ invoice.second_sum|stringformat:".2f" }},
			{% if invoice.vat %}
				vat: {{ invoice.vat|stringformat:".2f" }},
			{% else %}
				vat: 0,
			{% endif %}
			total: {{ invoice.total|stringformat:".2f" }},
		},
	{% endfor %}
];

	const overhead = [
	{% for invoice in overhead %}
		{
			date: '{{ invoice.Дата }}',
			nomenclature: '{{ invoice.Номенклатура }}',
			total: '{{ invoice.Всего }}',
		},
	{% endfor %}
	]

	buildInvoicesTable(invoices);


function save_ajax(id_form='form_for_ajax',url='/list_doc/change_status_doc/', save='save'){
        var form = document.getElementById(id_form);
        // Создать объект FormData и добавить значение каждого измененного элемента
        var formData = new FormData(form);
        var messageDiv = $('#message');
        messageDiv.html('Ожидайте, идет сохранение данных!');
        console.log('Ожидайте, идет сохранение данных!');
        messageDiv.addClass('info');
        messageDiv.show();
        formData.append(save, true);
        // Создать AJAX-запрос
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        // Получить CSRF токен из куки и добавить его в заголовок запроса
        var csrftoken = getCookie('csrftoken');
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {


                if (xhr.status === 200) {
                    messageDiv.html('Данные успешно сохранены!');
                    console.log('Данные успешно сохранены!');
                    messageDiv.addClass('success');

                    // Распарсить JSON-ответ
                    var responseJson = JSON.parse(xhr.responseText);
                    // console.log('JSON-ответ:', responseJson);
                    json(responseJson)
                    location.reload();
                } else {
                    messageDiv.html('Произошла ошибка при сохранении данных.');
                    console.log('Произошла ошибка при сохранении данных.');
                    messageDiv.addClass('error');
                }

                messageDiv.show();

                // Скрытие сообщения через 5 секунд
                setTimeout(function() {
                    messageDiv.hide();
                    messageDiv.removeClass('success error');
                }, 2500);
            }
        };
                                            xhr.send(formData);

                                            };


    function phantomSubmitClick() {
        document.getElementById('save_btn').click();
    }

	function buildInvoicesTable(invoices) {
		invoices = invoices.sort((a,b) => (a.total > b.total) ? -1 : ((b.total > a.total) ? 1 : 0))

		let sum = invoices.reduce((accumulator, invoice) => {
			return accumulator + invoice.total;
		}, 0);
		let totalPercent = 0;
		let tableHtmlText = "";

		for (let i = 0; i < invoices.length; i++) {
			let currTotal = parseFloat(invoices[i].total.toString().replaceAll(',', '.').replaceAll('\u00A0', ''));
			let currPercent = (currTotal * 100) / sum;
			totalPercent += currPercent;

			let tableType = "table-danger";
			if (totalPercent < 80) {
				tableType = 'table-success';
			} else if (totalPercent < 95) {
				tableType = 'table-warning';
			}

			let idHTML = "";
			if (invoices[i].id instanceof Array) {
				invoices[i].id.forEach(id => {
					idHTML += `
				<a href="/documents/list_doc/${id}/">${id} </a>
			`;
				});
			} else {
				idHTML = `<a href="/documents/list_doc/${invoices[i].id}/">${invoices[i].id}</a>`;
			}

			tableHtmlText += `
			<tr class="${tableType}">
				<td>${invoices[i].date}</td>
				<td>${invoices[i].counterparty}</td>
				<td>${invoices[i].nomenclature}</td>
				<td>${numberWithSpace(invoices[i].amount)}</td>
				<td>${invoices[i].unit}</td>
				<td>${numberWithSpace(invoices[i].price)}</td>
				<td>${numberWithSpace(invoices[i].second_sum)}</td>
				<td>${numberWithSpace(invoices[i].vat)}</td>
				<td>${numberWithSpace(invoices[i].total)}</td>
			</tr>
		`
		}
		
		const overheadSum = overhead.reduce((accumulator, invoice) => {
			return accumulator + parseFloat(invoice.total.replaceAll(',', '.').replaceAll('\u00A0', ''));
		}, 0);

		sum += overheadSum

		overhead.forEach(invoice => {
			tableHtmlText += `
			<tr>
				<td>${invoice.date}</td>
				<td></td>
				<td>${invoice.nomenclature}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>${numberWithSpace(invoice.total)}</td>
			</tr>
		`
		});

		let tableDiv = document.getElementById('invoicesDiv');
		tableDiv.innerHTML = `
	</br>
	<p>Общие затраты по данному объекту: <strong>${numberWithSpace(sum.toFixed(2))} руб.</strong></p>
	<table class="table table-sm">
		<thead class="thead-dark" style="position: sticky;top: 0">
			<tr>
				<th class="header" scope="col">Дата</th>
				<th class="header" scope="col">Контрагент</th>
				<th class="header" scope="col">Номенклатура</th>
				<th class="header" scope="col">Кол</th>
				<th class="header" scope="col">Ед.изм.</th>
				<th class="header" scope="col">Цена, руб.</th>
				<th class="header" scope="col">Сумма, руб.</th>
				<th class="header" scope="col">НДС, руб.</th>
				<th class="header" scope="col">Всего, руб.</th>
			</tr>
		</thead>
		<tbody>
			${tableHtmlText}
		</tbody>
	</table>
		`;
	}

	function showInvoices() {
		let x = document.getElementById("invoicesDiv");
		let button = document.getElementById("showButton");

		if (x.style.display === "none") {
		  x.style.display = "block";
		  button.className = 'btn btn-primary';
		} else {
		  x.style.display = "none";
		  button.className = 'btn btn-light';
		}
	}

	function numberWithSpace(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "\u00A0").replace('.', ',');
	}

	document.addEventListener('DOMContentLoaded', function () {
		const openModalButton = document.getElementById('add_logging');
		const closeModalButton = document.getElementById('closeModal');
		const modal = document.getElementById('myModal');
		const input = document.getElementById('new_log');

		openModalButton.addEventListener('click', function () {
			modal.style.display = 'flex';
		});

		closeModalButton.addEventListener('click', function () {
			modal.style.animation = 'fadeOut 0.3s ease-in-out';
			setTimeout(() => {
				modal.style.display = 'none';
				modal.style.animation = '';
				input.value = ''; // Очищаем input
			}, 300); // Время анимации
		});

		// Закрытие модального окна при клике вне контента
		window.addEventListener('click', function (event) {
			if (event.target === modal) {
				closeModalButton.click();
			}
		});

		// Добавьте обработчик события для кнопки "Сохранить"
		const saveButton = document.querySelector('.btn-light[onclick="save_ajax(\'add_new_log\',\'/list_doc/change_status_doc/\',\'save_new_log\')"]');
		if (saveButton) {
			saveButton.addEventListener('click', function () {
				input.value = ''; // Очищаем input
				closeModalButton.click();

			});
		}
	});
</script>
<script>document.addEventListener("DOMContentLoaded", function() {
    const sortButton = document.getElementById("save_btn");
    sortButton.addEventListener("click", function() {
		const table = document.getElementById("myTable");
	    const tbody = table.querySelector("tbody");
	    const rows = Array.from(tbody.querySelectorAll("tr"));
        rows.sort((a, b) => {
            const aInput = a.querySelector(".date-input-npp");
            const bInput = b.querySelector(".date-input-npp");
            if (aInput && bInput) {
                const aNpp = parseInt(aInput.value);
                const bNpp = parseInt(bInput.value);
                return aNpp - bNpp;
            }
            return 0;
        });

        rows.forEach(row => row.remove());
        rows.forEach(row => tbody.appendChild(row));
	});
});</script>
<script src="{% static 'js/dop_pp.js' %}"></script>
<!--<script src="/media/js/test.js"></script>-->
{% else %}
<script src="{% static 'js/list_doc_filter_table.js' %}"></script>
{% endif %}
{% endblock %}
